#instHolder {
	width: 268px;
	border: 1px solid #fff;
	margin: 10px 10px 10px 15px;
	background-color: #fff;
	padding: 10px 10px 10px 10px;
	display: none;
}
#instHolder h2 {
	font-size: 17px;
	display: inline-block;
}
#instHolder h2 a:hover {
	text-decoration: none;
}
#instHolder .userImg {
	display: inline-block;
	vertical-align: middle;
	border-radius: 24px;
	width: 48px;
	margin: 0px 15px 0px 5px;
	border: 2px solid #fff;
}
.inst {
	background-color: #fff;
	margin: 10px 0px 5px 0px;
	border-radius: 3px;
	padding: 2px 10px 10px 10px;
	border-bottom: 1px solid #BDBDBD;
}
.inst p {
	font-size: 13px;
	line-height: 16px;
	color: #6F6F6F;
}
.inst img {
	margin: 8px auto 8px auto;
	display: block;
}

.inst .heart {
	background-color: red;
	display: inline-block;
	height: 10px;
	margin: 0 10px;
	position: relative;
	top: 0;
	transform: rotate(-45deg);
	width: 10px;
}
.inst .heart:before,
.inst .heart:after {
	content: "";
	background-color: red;
	border-radius: 50%;
	height: 10px;
	position: absolute;
	width: 10px;
}

.inst .heart:before {
	top: -5px;
	left: 0;
}

.inst .heart:after {
	left: 5px;
	top: 0;
}
.inst .likesCount {
	display: inline-block;
	margin-left: -5px;
}
.inst .text {
	height: 65px;
	overflow: hidden;
}
.inst .text.visible {
	height: initial;
}
.inst .showMoreInst {
	cursor: pointer;
	color: #6F6F6F;
	font-weight: bold;
	font-size: 14px;
	text-decoration: underline;
	margin-top: -8px;
	display: inline-block;
}
#instaBio {
	color: #6F6F6F;
}